*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.clear{
	clear: both;
}
img{
	width:100%;
}
body{
	background-color: red;
	z-index: 0;
	
}
.wrap{
	position: relative;
	max-width:1200px;
	margin:auto;
}
@keyframes frame {
	0% {opacity: 0; padding-bottom: 0%; margin-top: -5%;}
	10% {opacity: 0; padding-bottom: 0%;}
	66% {opacity: 0.5; padding-bottom: 0%; margin-top: 2%;}
	100% {opacity: 1; padding-bottom: 55%}
}

.thiep {
	position: absolute;
	margin: 2%;
	width: 85%;
	height: 0;
	padding-bottom: 60%;
	border: 10px solid #ffffff;
	box-shadow: 0 5px 10px #111111;
	overflow: hidden;
	animation: frame 1.5s ease;
	animation-fill-mode: backwards;
}
@keyframes bg {
	0% {position: absolute; bottom: -100%; opacity: 0;}
	100% {position: absolute; bottom: -15%; opacity: 1;}
}

.bg {
	position: absolute;
	z-index: -1;
	bottom: -4%;
	animation: bg 1s ease;
	animation-delay: 1.5s;
	animation-fill-mode: backwards;
}

@keyframes night{
	0% {opacity: 0; top: 0; left: -10%;}
	100% {opacity: 1; top: -4%; left: 0%;}
}
.night {
	position: absolute;
	z-index: -2;
	width: 100%;
	left: 0%;
	top: -4%;
	animation: night 6s ease-in-out;
	animation-delay: 2.2s;
	animation-fill-mode: backwards;
}
@keyframes moon {
	0% {opacity: 0; top: 0; left: -10%;}
	100% {opacity: 1; top: -4%; left: 0%;}
}
.moon {
	position: absolute;
	z-index: 0;
	width: 42%;
	left: 9%;
	top: 20%;
	animation: moon 6s ease-in-out;
	animation-delay: 2.2s;
	animation-fill-mode: backwards;
}
@keyframes anim_fly_deer {
	0% {transform: rotate(110deg) translate(-750%) rotate(-90deg);}
	100% {transform: rotate(70deg) translate(-750%) rotate(-90deg);}
}
@keyframes myAnimation {
    from {left: 0px;}
    to {left: 400px;}
}


.fly {
	position: absolute;
	z-index: 0;
	width: 30%;
	margin-left: 40%;
	bottom: 70%;
	animation: myAnimation 5s;
    animation-timing-function: ease-out;
	}
.qua1 {
	position: absolute;
	bottom: 2%;
	width: 10%;
	animation: anim_gift 0.5s ease;
	filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.8));
	z-index: 2;
	animation-fill-mode: backwards;
}

.qua1 {
	left: 55%;
	animation-delay: 9.7s;
}
.qua2 {
	position: absolute;
	bottom: 2%;
	width: 10%;
	animation: anim_gift 0.5s ease;
	filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.8));
	z-index: 2;
	animation-fill-mode: backwards;
}

.qua2 {
	left: 70%;
	animation-delay: 11.7s;
}
@keyframes merry {
	0% {opacity: 0; margin-left: 11%; color: #ffffff}
	100% {opacity: 1; margin-left: 15%;}

}

.merry {
	margin-top: 4%;
	margin-left: 15%;
	font-family: Sofia;
	color: rgb(234, 22, 25);
	font-size: 4.5vmin;
	text-shadow: 1px 2px 3px #212121;
	animation: merry 1 1s ease;
	animation-delay: 11.5s;
	animation-fill-mode: backwards;
}

