* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

body {
	max-width: 1000px;
	margin: auto;
}
h2 {
	font-size: 1.25em;
}

h4 {
	padding-top: 1%;
	font-size: 0.9em;
	font-family: Exo, sans-serif;
	color: #4E342E;
}

.right_header h4 {
	color: #1B5E20;
}

.hdr {
	float: left;
	padding: 1%;
}

.left_header {
	width: 60%;
	font-family: Chango, sans-serif;
	color: #E65100;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.right_header {
	width: 40%;
	font-family: 'Nanum Gothic', sans-serif;
	text-align: right;
	color: #3F51B5;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
nav {
	margin-top: 1%;
	margin-bottom: 1%;
	position: relative;
}

ul {
	list-style: none;
}

@keyframes anim_nav_li {
	0% {opacity: 0; padding: 0.5% 2.5%;}
	100% {opacity: 1; padding: 0.5% 2%;}
}

nav > ul > li {
	display: inline-block;
	border: 1px solid #29b6f6;
	padding: 0.5% 3%;
	animation: anim_nav_li 0.8s ease;
	transition: all 0.3s ease;
}

.main_menu {
	text-align: center;
}

.main_menu > li:hover {
	background-color: #EEEEEE;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.sub_menu li:hover {
	background-color: #212121;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.sub_menu li:hover a {
	color: #FAFAFA;
	font-weight: normal;
}

nav a {
	font-family: Quicksand, sans-serif;
	font-weight: bold;
	color: #212121;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.main_menu li:nth-child(2) {
	position: relative;
}

.sub_menu {
	display: none;
	position: absolute;
	z-index: 1;
	top: 106%;
	left: -1px;
	text-indent: 12%;
	width: 130%;
	background-color: #EEEEEE;
	text-align: left;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	transition: all 0.3s ease;
}

.sub_menu li {
	padding-top: 4%;
	padding-bottom: 4%;
	transition: all 0.3s ease;
}

.main_menu li:nth-child(2):hover .sub_menu {
	display: block;
}
#promotion {
	position: relative;
	height: 0;
	padding-bottom: 40%;
	overflow: hidden;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}
.promo {
	margin: 0;
	position: relative;
	width: 500%;
	font-size: 0;
}

.promo div {
	margin: 0;
	position: inherit;
	width: 20%;
	height: auto;
	display: inline-block;
}

.promo img {
	transform: translateY(1%);
}


.title {
	position: absolute;
	width: 100%;
	top: 0%;
}

.title h1 {
	font-family: 'Exo', sans-serif;
	font-size: 2em;
	text-align: center;
	background-color: #e65100;
	width: auto;
	margin: auto;
	padding: 1%;
	border: 2px solid #BDBDBD;
	border-radius: 20px;
	transition: all 0.3s ease;
}

.title h1:hover {
	color: #757575;
}


@keyframes anim_foods {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


#fav_foods {
	position: relative;
	margin-top: 7%;
	border: 2px solid #BDBDBD;
	border-radius: 10px;
	animation: anim_foods 0.8s ease;
	overflow: auto;
}

.favourite {
	float: left;
	margin-top: 8%;
	margin-bottom: 6%;	
}
.favourite img {
	width: 95%;
}
#address {
	float: left;
	width: 60%;
}
.thumb {
	float: left;
}
.info{
	float: right;
}
#address ul {
    padding-top: 1.5%;
    padding-left: 2%;
}

#address ul li {
    color: rgb(0,0,0);
}

#address p {
	padding-top: 3.6%;
	padding-left: 2%;
	font-weight: bold;

}
#corner_arrow {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

#corner_arrow img {
	width: 40px;* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

body {
	max-width: 1000px;
	margin: auto;
}
h2 {
	font-size: 1.25em;
}

h4 {
	padding-top: 1%;
	font-size: 0.9em;
	font-family: Exo, sans-serif;
	color: #4E342E;
}

.right_header h4 {
	color: #1B5E20;
}

.hdr {
	float: left;
	padding: 1%;
}

.left_header {
	width: 60%;
	font-family: Chango, sans-serif;
	color: #E65100;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.right_header {
	width: 40%;
	font-family: 'Nanum Gothic', sans-serif;
	text-align: right;
	color: #3F51B5;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
nav {
	margin-top: 1%;
	margin-bottom: 1%;
	position: relative;
}

ul {
	list-style: none;
}

@keyframes anim_nav_li {
	0% {opacity: 0; padding: 0.5% 2.5%;}
	100% {opacity: 1; padding: 0.5% 2%;}
}

nav > ul > li {
	display: inline-block;
	border: 1px solid #29b6f6;
	padding: 0.5% 3%;
	animation: anim_nav_li 0.8s ease;
	transition: all 0.3s ease;
}

.main_menu {
	text-align: center;
}

.main_menu > li:hover {
	background-color: #EEEEEE;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.sub_menu li:hover {
	background-color: #212121;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}

.sub_menu li:hover a {
	color: #FAFAFA;
	font-weight: normal;
}

nav a {
	font-family: Quicksand, sans-serif;
	font-weight: bold;
	color: #212121;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.main_menu li:nth-child(2) {
	position: relative;
}

.sub_menu {
	display: none;
	position: absolute;
	z-index: 1;
	top: 106%;
	left: -1px;
	text-indent: 12%;
	width: 130%;
	background-color: #EEEEEE;
	text-align: left;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	transition: all 0.3s ease;
}

.sub_menu li {
	padding-top: 4%;
	padding-bottom: 4%;
	transition: all 0.3s ease;
}

.main_menu li:nth-child(2):hover .sub_menu {
	display: block;
}
#promotion {
	position: relative;
	height: 0;
	padding-bottom: 40%;
	overflow: hidden;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}
.promo {
	margin: 0;
	position: relative;
	width: 500%;
	font-size: 0;
}

.promo div {
	margin: 0;
	position: inherit;
	width: 20%;
	height: auto;
	display: inline-block;
}

.promo img {
	transform: translateY(1%);
}


.title {
	position: absolute;
	width: 100%;
	top: 0;
}

.title h1 {
	font-family: 'Exo', sans-serif;
	font-size: 2em;
	text-align: center;
	background-color: #e65100;
	width: 40px;
	margin: 40px;
	padding: 1%;
	border: 2px solid #BDBDBD;
	border-radius: 20px;
	transition: all 0.3s ease;
}

.title h1:hover {
	color: #757575;
}


@keyframes anim_foods {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


#fav_foods {
	position: relative;
	margin-top: 7%;
	border: 2px solid #BDBDBD;
	border-radius: 10px;
	animation: anim_foods 0.8s ease;
}

.favourite {
	position: relative;
	margin-top: 6%;
	margin-bottom: 30%%;
}
.thumb {
	position: absolute;
	float: left;
}
#fav_foods a{
	float:left;
}
#fav_foods a img{
	border-radius: 10%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
#content {
	color: red;
}

#address {
	float: left;
	width: 60%;
}

#address ul {
    padding-top: 1.5%;
    padding-left: 2%;
}

#address ul li {
    color: rgb(0,0,0);
}

#address p {
	padding-top: 3.6%;
	padding-left: 2%;
	font-weight: bold;

}
#corner_arrow {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

#corner_arrow img {
	width: 40px;
}