@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

body {
font-family: Montserrat,Arial, Helvetica, sans-serif;
background-color:#f7f7f7;
padding: 0;
margin: 0;
}
* {box-sizing: border-box}

/* Add padding to container elements */
.container {
margin-top: 20px;
padding: 10px;
width: 500px;
position: absolute;
left: 50%;
top: 60%;
transform: translate(-50%, -50%);
border:1px solid #ccc;
border-radius:10px;
background:white;
height: auto;
box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
}

/* Full-width input fields */
input[type=text],input[type=password], input[type=date], input[type=email], input[type=number], input[type=file],textarea,select {
	width: 100%;
	padding: 10px;
	margin: 5px 0 15px 0;
	display: inline-block;
	border: none;
	font-size: 16px;
	background: #f7f7f7;
	height: auto;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
}
input[type=text]:focus,input[type=password]:focus, input[type=date]:focus, input[type=number]:focus, input[type=email]:focus, input[type=file]:focus,select:focus {
	background-color: #ddd;
	outline: none;
}
/* Set a style for all buttons */
.container button {
	background-color: #0eb7f4;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;/* con trỏ chuột khi hover vào*/
	width: 100%;
	opacity: 0.9;
	font-size:16px;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
	border-radius:10px;
}

.container button:hover {
	opacity:1;
}