*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-image: url("bg.png");
  background-image: cover;
  background-image: center;
}
.view_all_menu{
  width: 100%;
  height: auto;
  float: left;
}
.wellcome{
  color: black;
  width: 100%;
  height: 20%;
  background-color: pink;
}
.menu.show{
  left: 0px;
}
div{
  /*position: fixed;*/
  width: 250px;
  height: 100%;
  left: 0;
  background: white;

}
div ul{
  background: white;
  height: 100%;
  width: 100%;
  list-style: none;

}
div ul li{
  line-height: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
div ul li a{
  color: black;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  padding-left: 10px;
  font-weight: 400;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
div ul li.active a{
  color: cyan;
  background: #ff85c2;
  border-left-color: cyan;
}
div ul li a:hover{
  background: #ff85c2;
}
div ul ul {
  position: static;
  display: none;
}
div ul .first-show.show1{
  display: block;
}
div ul .second-show.show2{
  display: block;
}
div ul .third-show.show3{
  display: block;
}
div ul ul li{
  line-height: 42px;
  border-top: none;
}
div ul ul li a{
  font-size: 17px;
  color: blacks;
  padding-left: 80px;
}
div ul li.active ul li a{
  color: green;
  background: blue;
  border-left-color: transparent;
}
div ul ul li a:hover{
  color: cyan!important;
  background: pink!important;
}
div ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
/*.menu ul li a:hover span{
  transform: translateY(-50%) rotate(-180deg);
}*/
div ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}